/*for font*/


/*NAV Related Style*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-titale {
    color: #181818;
    font-size: 45;
    font-weight: 800;
    line-height: normal;
}

.text-primary{
    color: #FD6E0A;
}
nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right:50px ;
}
nav a {
    text-decoration: none;
    color: #474747;
}
